@import url("https://fonts.googleapis.com/css?family=Montserrat");
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadein2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.cd-section {
  width: 70vw;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#cd-front {
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spacerW {
  margin: 80px;
}

.spacerN {
  margin: 25px;
}

h1 {
  font-weight: bolder;
  font-size: 1.3em;
}

h3 {
  font-weight: lighter;
  font-size: 1em;
}

.nav_desktop {
  display: inline-block;
  text-overflow: hidden;
  overflow: hidden;
  position: fixed;
  text-align: right;
  right: 20px;
  top: 0;
  z-index: 1000;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
}

.nav_desktop a {
  text-decoration: none;
  color: #f0f8ff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav_desktop ul {
  list-style-type: none;
}

.nav_desktop ul li {
  margin: 0.5em;
}

.nav_desktop a:hover {
  color: coral;
}

#link_active {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#link_active:hover {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.nav_mobile {
  display: none;
}

label .menu {
  position: fixed;
  right: -50px;
  top: -50px;
  z-index: 100;
  width: 100px;
  height: 100px;
  background: #FFF;
  border-radius: 10% 10% 10% 10%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
          box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 73px;
  left: 13px;
  width: 25px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
          box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  pointer-events: all;
  opacity: 1;
}

label ul {
  pointer-events: none;
  position: fixed;
  z-index: 100;
  list-style-type: none;
  top: 50%;
  left: 45%;
  text-align: right;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

label a a:hover, label a a:visited, label a a:link, label a a:active {
  color: #f35626;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 2.5fr 0.3fr;
      grid-template-columns: 0.3fr 2.5fr 0.3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "dates events zero";
}

.dates {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: dates;
}

.events {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: events;
  -ms-flex-line-pack: middle;
      align-content: middle;
  text-align: center;
  overflow: auto;
}

.zero {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: zero;
  z-index: -1;
}

.cd_dates {
  height: 100vh;
  text-align: center;
  position: fixed;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.cd_dates ul {
  text-align: center;
  list-style-type: none;
}

.cd_dates .cd_datescont {
  display: table;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd_dates .cont_date {
  width: 70px;
  height: 70px;
  border-color: #f0f8ff;
  border-style: solid;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  margin: 10px;
  margin-left: 30px;
  border-radius: 30% 30% 30% 30%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cd_dates .current li {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff;
}

.cd_dates .date {
  position: relative;
  color: #151515;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd_dates .talks {
  border: solid;
  border-color: #ffefe1;
}

.cd_dates .cont_date:not(.selected):hover {
  background-color: #f0f8ff;
}

.cd_dates .today li {
  border: solid;
  border-color: coral;
}

.cd_dates .prevEventDate {
  pointer-events: none;
}

.cd_dates .prevEventDate li {
  border-color: gray;
}

.cd_dates .prevEventDate li .date {
  color: gray;
}

.event_cont {
  height: auto;
  padding: 30px;
  width: 60%;
  z-index: 1;
  border-radius: 10px;
  background-color: #f0f8ff;
  margin: auto;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.event_cont a {
  color: dimgray;
}

.event_cont h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

.event_cont .grid-container-event {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". . .";
  -ms-flex-line-pack: middle;
      align-content: middle;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  text-align: middle;
}

.event_cont .event_header {
  margin: 0 auto;
  margin-bottom: 10px;
  opacity: 1;
}

.event_cont .event_time_place {
  margin: 0 auto;
  height: 30px;
  width: 150px;
}

.event_cont .event_divider {
  height: 100%;
  width: 100%;
}

.event_cont .divider {
  width: 3px;
  height: 25px;
  background-color: coral;
  border-radius: 2px;
  margin: 0 auto;
}

.event_cont .event_info {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  color: #151515;
}

.event_cont .event_info_text {
  color: #151515;
  font-size: 14px;
}

.event_cont .link_text {
  text-decoration: none;
  color: #23A6D5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.event_cont .link_text:hover {
  color: coral;
}

.event_cont .event_btn {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: #BA50A9;
  border-radius: 5px;
  bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.event_cont .event_btn_text {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  font-weight: bold;
  color: white;
}

.event_cont .event_btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.event_cont img {
  width: 200px;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
}

.prevEvent .evet_cont {
  background-color: gray;
}

#expo_talks {
  background-color: #ffefe1;
}

.event_date {
  font-weight: bolder;
  margin-bottom: 10px;
  opacity: 0.8;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.scrollTo {
  -webkit-transition: 0.5 ease-in-out;
  transition: 0.5 ease-in-out;
}

.back_icon {
  position: fixed;
  height: 30px;
  width: 30px;
  margin: 30px;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
  -webkit-transition: all 0.2;
  transition: all 0.2;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.back_icon:hover {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

.talks {
  margin: 5% 10%;
  padding-bottom: 6rem;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
}

.talks h1 {
  cursor: default;
  font-size: 10vw;
}

.talks h1 #talks {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.talks p {
  width: 70ch;
}

.talks ul {
  padding-left: 0;
}

.talks ul li {
  padding: 1rem;
  border-radius: 10px;
  background-color: #f0f8ff;
  display: block;
  max-width: 800px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  list-style-type: none;
  font-size: 2rem;
  margin: 0 1rem 1rem 0;
}

@media screen and (max-width: 600px) {
  .talks ul li {
    font-size: 1.2rem;
  }
}

.talks ul li.pause {
  opacity: 0.6;
}

.talks ul li div {
  font-size: 1rem;
}

.index-cont {
  position: relative;
  top: 10vh;
  margin-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
}

.index-cont #tema {
  position: relative;
  padding-top: 100vh;
}

.cont {
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.8);
  max-width: 800px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
}

.cont h1 {
  font-size: 30px;
}

.cont a {
  color: dimgray;
}

.cont {
  float: left;
  clear: both;
}

.cont:nth-of-type(2n) {
  float: right;
  text-align: right;
}

.cont:last-child {
  margin-bottom: 70px;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

#container img {
  width: 80vw;
  height: auto;
}

.slide {
  display: block;
  position: absolute;
}

.slide img {
  width: 70vw;
}

#slogan {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 90%;
  height: auto;
}

#tema {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 5%;
}

#tema #tema_txt {
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
}

#map {
  height: 400px;
  width: 90vw;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 10vh;
}

.wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 25px 0 100px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.infobox:hover .resize {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.infobox h4 {
  display: block;
  position: relative;
  margin: 0 0 20px 160px;
  width: 25%;
  padding-bottom: 0px;
  cursor: default;
}

.infobox h4:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
}

.infobox p {
  display: inline-block;
  padding: 0 10px 0 15px;
  margin: auto;
  width: 40%;
  text-align: left;
}

.infobox a {
  color: #F1F1F1;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.infobox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  min-width: 400px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*Image size and frame*/
.resize {
  width: 140px;
  height: 140px;
  float: left;
  border-radius: 10%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.spacer {
  height: 12vh;
}

.contact_header {
  cursor: default;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8em;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

html a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

html a:hover, html a:visited, html a:link, html a:active {
  text-decoration: none;
}

html a:hover {
  color: #f35626;
}

p a {
  color: #f0f8ff;
}

body {
  height: 100%;
  position: relative;
  font-family: "Montserrat";
  background: linear-gradient(-225deg, #fdeaaf, #b99db3, #78c7c6, #badab2);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: none;
  overflow: visible;
  overflow-x: hidden;
  -webkit-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 300px), screen and (max-height: 400px) {
  .event_time_place {
    width: 150px;
  }
}

@media only screen and (max-width: 480px), screen and (max-height: 400px) {
  .grid-container {
    -ms-grid-columns: 0fr 3fr 0fr;
        grid-template-columns: 0fr 3fr 0fr;
  }
  .contact {
    width: 100vw;
  }
  .event_cont {
    width: 80%;
  }
  .cd-section {
    width: 90vw;
  }
  .nav_desktop {
    display: none;
  }
  .cont {
    width: 100%;
  }
  .index_cont {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .cont {
    clear: both;
  }
  .cont:nth-of-type(2n) {
    clear: both;
  }
  .back_icon {
    display: none;
  }
  .nav_mobile {
    display: block;
  }
  .cd_dates {
    display: none;
  }
  .event_btn {
    margin-bottom: 10px;
  }
  .event_info_text {
    font-size: 11px !important;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper p {
    font-size: 13px;
  }
  .cd-section p {
    font-size: 3vw;
  }
  .cd-section h1 {
    font-size: 4vw;
  }
  .resize {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  .nav_desktop {
    display: none;
  }
  .back_icon {
    display: none;
  }
  .nav_mobile {
    display: block;
  }
  .cd_dates {
    display: none;
  }
  .grid-container {
    -ms-grid-columns: 0fr 2.5fr 0fr;
        grid-template-columns: 0fr 2.5fr 0fr;
  }
  .event_cont {
    width: 90vw;
  }
  .event_info_text {
    font-size: 2.5vw;
  }
  .index_cont {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont {
    width: 100%;
  }
  #bg {
    max-height: 70%;
  }
  .contact {
    width: 100vw;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-section {
    width: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */