
.index-cont{
    position: relative;
    top: 10vh;

    margin-bottom: 50px;
    width: 80%;
    margin: 0 auto;


    #tema{
        position: relative;
        padding-top: 100vh;
    }

    -webkit-animation: fadein 3s;
    animation: fadein 3s;

}


.cont{
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(240,248,255,0.8);
    max-width: $M;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

    width: 500px;

    h1{
        font-size: 30px;
    }

    a{
        color: $color-3;
    }
}

.cont{
    float:left;  
    clear:both;    
}
.cont:nth-of-type(2n){
     float:right;
     text-align: right;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    img{
        width: 80vw;
        height: auto;
    }
    -webkit-animation: fadein 2s; 
    animation: fadein 2s;
}
  
.slide {
    display: block;
    position: absolute;
    img{
        width: 70vw;
    }
}
#slogan{
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;
    height: auto;
}

#tema{
    text-align: center;
    align-content: center;
    margin-bottom: 5%;

    #tema_txt{
        margin: 0 auto;
        width: 100%;
        padding-top: 30px;
    }  
}





